@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background-color: #512D6D;
    font-family: 'Press Start 2P', cursive;

}



#titulo {                           
    color: #00C1D4;
    width: 580px;
    height: 100px;
    font-size: 42px;

    /*Se alinean items con flex*/
    align-items: center; 
    display: flex;  
    justify-content: center;
}

.subtitulo{
    color: #EEEEEE;
}

#sel-mascota{                   /*Se selecciona la etiqueta padre*/
    display: flex;              /* Le indicamos a CSS que vamos a reabajr con flex para este elemento*/
    flex-direction: column;     /* Se posicionan los elementos de forma vertical*/
    justify-content: center;    /* Se alinean los elemento de forma vertical*/
    align-items: center;        /* Se alinean los elemento de forma horizontal*/
}

.tarjetas{
    display: flex;
    gap: 10px;              /* gap sirve para dar un espaciado*/
}



.tarjeta-de-mokepon{            /* Se crea class para modificar las cajas de los mokepones*/

    width: 100px;
    height: 100px;
    background: #00C1D4;
    padding: 10px;
    box-sizing: border-box;    /*El tamano del padding se alineara al borde*/
    border: 1px solid #D61C4E;  /* tamano   tipo de borde    color*/
    color: #512D6D;
    font-size: 8px;

    /*Se alinean items con flex*/
    align-items: center; 
    display: flex;  
    justify-content: center;

}


input{
    display: none;              /* Ocultamos los input radio*/
}

