#titulo {                           
    color: #1CD6CE;
    width: 310px;
    height: 50px;
    background-color: #293462;
    border: 2px solid #FEDB39;

    /*Se alinean items con flex*/
    align-items: center; 
    display: flex;  
    justify-content: center;
}

#sel-mascota{                   /*Se selecciona la etiqueta padre*/
    display: flex;              /* Le indicamos a CSS que vamos a reabajr con flex para este elemento*/
    flex-direction: column;     /* Se posicionan los elementos de forma vertical*/
    justify-content: center;    /* Se alinean los elemento de forma vertical*/
    align-items: center;        /* Se alinean los elemento de forma horizontal*/
}


.tarjeta-de-mokepon{            /* Se crea class para modificar las cajas de los mokepones*/

    width: 100px;
    height: 100px;
    background: #1CD6CE;
    padding: 10px;
    box-sizing: border-box;    /*El tamano del padding se alineara al borde*/
    border: 1px solid #D61C4E;  /* tamano   tipo de borde    color*/
    margin: 10px;
    color: aliceblue;

    /*Se alinean items con flex*/
    align-items: center; 
    display: flex;  
    justify-content: center;

}


input{
    display: none;              /* Ocultamos los input radio*/
}